body {
  background-color: #fafafa;
}

h1 {
  font-family: 'Oswald';
  font-size: 35px;
}

h2 {
  font-family: 'Open Sans';
  font-size: 17px;
}

label {
  padding-right: 5px;
  font-family: 'Open Sans';
  font-size: 16px;
}

input {
  font-family: 'Open Sans';
  font-size: 16px;
}

button.menu-button {
  font-family: 'Open Sans';
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

button.menu-button:hover {
  background-color: #D3D3D3;
  color: black;
}

button.modal-button {
  font-family: 'Open Sans';
  font-size: 20px;
  background: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
}

button.modal-button:hover {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
}

td {
  width: 1em;
  height: 1em;
  border: 2px solid;
  cursor: pointer;
}

td.s {
  border-bottom: none;
}

td.n {
  border-top: none;
}

td.w {
  border-left: none;
}

td.e {
  border-right: none;
}

td.solution {
  background-color: #2636FF;
}

td.mid {
  background-color: #9acfff;
  /*transition: background-color linear 1s;*/
}

td.head {
  background-color: #2636FF;
}

#start {
  background-color: #4ab229;
}

#end {
  background-color: #FF453A;
}

.menu {
  position: relative;
  font-family: 'Open Sans';
  min-width: 1140px;
}

.time {
  font-size: 25px;
  position: absolute;
  top: 19px;
  right: 570px;
}

.time-header {
  text-decoration: underline;
}

.time-value {
  font-size: 20px;
}

.visited {
  font-size: 25px;
  position: absolute;
  top: 19px;
  right: 336px;
}

.visited-header {
  text-decoration: underline;
}

.visited-value {
  font-size: 20px;
}

.efficiency {
  font-size: 25px;
  position: absolute;
  top: 19px;
  right: 160px;
}

.efficiency-header {
  text-decoration: underline;
}

.efficiency-value {
  font-size: 20px;
}

.efficiency-desc {
  font-size: 13px;
  position: absolute;
  top: 30px;
  right: 20px;
}

.numerator {
  border-bottom: 1px solid black;
}

#splash {
  font-family: 'Open Sans';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.97);
  color: black;
  z-index: 999;
}

#overlay {
  overflow-y: hidden;
  position: relative;
}

.instructions {
  position: relative;
  top: -10%;
}

.instructions-header {
  font-family: 'Oswald';
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.instructions-step {
  font-size: 20px;
}

.instructions-efficiency {
  font-size: 19px;
}

.instructions-numerator {
  font-size: 18px;
  border-bottom: 1px solid black;
  display: inline;
  padding-bottom: 8px;
}

.instructions-denominator {
  font-size: 18px;
}

.instructions-link {
  font-family: 'Open Sans';
  font-size: 16px;
}

.instructions-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.github-logo {
  width: 25px;
  height: 25px;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 101px;
}

.github-logo:hover {
  cursor: pointer;
}

.linkedin-logo {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 50px;
}

.linkedin-logo:hover {
  cursor: pointer;
}

.modal-button {
  margin-bottom: 40px;
}
